body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

p {
  font-size: 16px;
  color: #363636;
}

textarea {
  background-color: #eee;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid #CCCCCC ;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  background-image: linear-gradient(to right, rgb(133, 152, 147) , rgb(205, 209, 207));
  padding: 25px 0px 25px 0px;
  box-shadow: 0px 15px 15px rgb(202, 202, 202);
}

.headline {
  color: #2e2e2e;
}

#date-display {
  color: #ffffff;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3e6cb;
  line-height: 60px;
  font-size: 27px;
  border: 1px 1px 1px 0px solid #8fd19e;
}

.space-between{
  margin: 5px 0px 5px 0px;
  height: 65px
}

.row {
  white-space: pre-wrap;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border: 1px 1px 1px 0px solid #6d6d6d;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #A4BBD3;
  color: #363636;
}

.saveBtn:hover {
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

#clear-button {
  margin-top: 15px;
}